/* Styles for Github page*/
.github {
    color: white;
    margin: 2rem 0;
    padding: 2rem;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(7px);
    /* -webkit-backdrop-filter: blur(20px) saturate(1.7); */
    /* background-color: rgba(0, 0, 0, 0.5); */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    position: relative;
    animation: github-slide-in 2s;
}

.github-header {
    margin-top: 0;
}


.github a {
    color: white;
}

.neovim {
    color: white;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(7px);
    /* -webkit-backdrop-filter: blur(20px) saturate(1.7); */
    /* background-color: rgba(0, 0, 0, 0.5); */
    margin: 2rem 0;
    padding: 2rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    position: relative;
    top: -100%;
    animation: github-fade-in 2s;
}

.neovim-header {
    font-family: Orbitron, sans-serif;
}

.neovim a {
    color: white;
}

@keyframes github-fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes github-slide-in {
    0% {
        left: -100%;
        /* Start off-screen */
    }

    100% {
        left: 0;
        /* End at final position */
    }
}
