.stuff {
    margin: 2rem 0;
    padding: 2rem;
    background: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    position: relative;
    top: -100%;
}

.stuff-header {
    margin-top: 0;
}
