@keyframes fadeIn {
    0% { opacity: 0;}
    100% { opacity: 1;}
}

/* Main Content Styles */
main {
    color: black;
    padding: 2rem;
}

section {
    margin: 2rem 0;
    padding: 2rem;
    background: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    animation: fadeIn 2s;
}

section h2 {
    margin-top: 0;
}

