/* General Styles */
@keyframes gradientAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

/* Main Content Styles */
main {
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: center; */
    color: black;
    padding: 2rem;
}

body {
    /* display: flex; */
    /* flex-direction: column; */

    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    /* background: linear-gradient(270deg, #ff7e5f, #feb47b); */
    /* background-size: 400% 400%; */
    /* animation: gradientAnimation 15s ease infinite; */
}
